*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin:10px auto;
    border-radius: 3px;
    cursor: pointer;
}
.btn > button{
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 2px 2px gray;
    cursor: pointer;
}

.recipe-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center; 
}

.recipe-card{
    box-shadow: 2px 2px 6px 4px gray;
    border-radius: 10px;
    width: 250px;
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;

}

.recipe-card > img{
    width: 100%;
    border-radius: 10px;
    height: 70%;
    object-fit: cover;
}

.search{
    display: flex;
    flex-direction: column;
}

input{
    width: 50%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    border:2px solid black;
}

.suggestion{
    width: 50%;
    border:1px solid black;
    margin: auto;
    max-height: 200px;
    border-radius: 10px;
    overflow-y: scroll;
    box-shadow: 2px 2px 2px 2px gray;
}

.showHide > span:hover {
    display: block;
    background-color: gray;
}